version 7.1.5
source https://www.nuget.org/api/v2

group Web
    source https://api.nuget.org/v3/index.json
    framework: net6.0, netstandard2.0, netstandard2.1
    storage: none

    nuget FSharp.Core = 6.0.6
    nuget Fable.Core = 3.7.1
    nuget Fable.Elmish = 3.1.0
    nuget Fable.Browser.DOM = 2.10.1
    nuget Fable.React = 7.4.3
    nuget Fable.Elmish.React = 3.0.1
    nuget Thoth.Json = 7.0.0
    nuget Fable.Elmish.Debugger = 3.3.0
    nuget Fable.Elmish.Browser = 3.0.5
    nuget Fable.Elmish.HMR = 5.2.0
    nuget Fable.AST = 3.1.1
    nuget Feliz.CompilerPlugins = 1.10.0
    nuget Feliz = 1.68.0
    nuget Fable.Browser.Url = 1.1.0
    nuget Fable.Promise = 3.2.0
    nuget Fable.Expect = 1.1.1
    nuget Feliz.UseElmish = 1.6.0
    nuget Fable.Remoting.Client = 7.21.0

group Shared
    source https://api.nuget.org/v3/index.json
    framework: net6.0, netstandard2.0, netstandard2.1
    storage: none

    nuget FSharp.Core == 6.0.6

group Api
    source https://api.nuget.org/v3/index.json
    framework: net6.0, netstandard2.0, netstandard2.1
    storage: none

    nuget FSharp.Core == 6.0.6
    nuget Fable.Remoting.Giraffe = 5.13.0
    nuget Giraffe == 6.0.0
    nuget Saturn = 0.16.1
    nuget Serilog.AspNetCore = 6.0.1
    nuget Serilog.Sinks.Console = 4.1.0
    nuget FSharp.Data.LiteralProviders = 1.0.3
